<?php
/*
 * GBALib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

namespace GBALib\Controllers;

use GBALib\APIException;
use GBALib\APIHelper;
use GBALib\Configuration;
use GBALib\Models;
use GBALib\Exceptions;
use GBALib\Http\HttpRequest;
use GBALib\Http\HttpResponse;
use GBALib\Http\HttpMethod;
use GBALib\Http\HttpContext;
use GBALib\Servers;
use Unirest\Request;

/**
 * @todo Add a general description for this controller.
 */
class MApiMobileChatsMessagesController extends BaseController
{
    /**
     * @var MApiMobileChatsMessagesController The reference to *Singleton* instance of this class
     */
    private static $instance;

    /**
     * Returns the *Singleton* instance of this class.
     * @return MApiMobileChatsMessagesController The *Singleton* instance.
     */
    public static function getInstance()
    {
        if (null === static::$instance) {
            static::$instance = new static();
        }
        
        return static::$instance;
    }

    /**
     * @todo Add general description for this endpoint
     *
     * @param Models\MRequest3 $body TODO: type description here
     * @return void response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function m(
        $body
    ) {

        //prepare query string for API call
        $_queryBuilder = '/api/mobile/chats/messages';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl(Configuration::getBaseUri() . $_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => BaseController::USER_AGENT,
            'content-type'  => 'application/json; charset=utf-8',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //json encode body
        $_bodyJson = Request\Body::Json($body);

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, $_bodyJson);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpContext);
    }
}
